@model Category

@{
    ViewData["Title"] = Model.Name;
}

<div class="row justify-content-between mt-60-px">
    
    <div class="col-md-7">
        <div class="d-flex justify-content-between mb-3">
            <h3>@Model.Name</h3>
            <span class="mt-2">
                <i class="bi bi-star-fill text-warning"></i>
            </span>
        </div>
        <p class="text-justify mt-3">@Model.Name</p>
    </div>
</div>